<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
    <link rel="stylesheet" href="/header.css">
    <style>
        .info {
            text-align: center;
            padding: 1rem;
            background-color: #23C483;
            color: white;
        }

        .info a {
            font-weight: bold;
            color: #ffe8e8;
        }

        .info a:hover {
            text-decoration: none;
        }
    </style>
</head>
<body>
    <%- include("header", { user: user }) %>

    <% if (!locals.user) { %>
        <p class="info">Please <a href="/login">login</a> or <a href="/sign-up">sign up</a> to upload files!</p>
    <% } else { %>
        <p class="info">
            Welcome to <b>FileWave!
            </b> Go to <a href="/<%= rootFolder.id %>">root folder</a>
        </p>
        <form action="/upload" method="POST" id="upload" enctype="multipart/form-data">
            <label for="file">Upload file</label>
            <input type="file" name="file" id="file" onchange="() => document.getElementById('upload').submit()">
        </form>
    <% } %>

</body>
</html>